$primary-color: white;
$color-red: rgb(221, 37, 37);
$color-gray: gray;
$color-purple:  rgb(138, 39, 101);
$color-pink: rgb(231, 10, 113);
$color-shadow: rgba(57, 63, 72, .3);
$white-darken: rgb(244, 244, 244);
$gray-darken: darkslategray;
$color-plum: plum;


$font-22: 22px;
$font-32: 32px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-15: 15px;
$font-12: 12px;